

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form action="/DoingTask/Create" method="post">
        <input type="text" name="Description" placeholder="Description" /><br /><br />
        <input type="datetime-local" name="DeedLine" /><br /><br />
        <button>Create</button>
    </form>
</body>
</html>
